<h1><%= @word.title %></h1>
<p><%= @word.translation %> </p>
<%= link_to "Редактировать", edit_word_path(@word), class: "btn btn-primary" %>
<%= link_to "Удалить", word_path(@word), method: :delete, data: { confirm: "Вы уверены?"}, class: "btn btn-primary" %>
<%= link_to 'Назад', root_path, class: "btn btn-primary" %>
