<!DOCTYPE html>
<html>
  <head>
    <title>Mywordlist</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <a><%= link_to 'MyWordList', root_path, class: "navbar-brand" %></a>
            <ul class="nav navbar-nav navbar-right">z
                <li><%= link_to 'Добавить слово', new_word_path, class: "navbar-brand" %></li>
            </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h3>Всего слов: <%= @words.size %></h3>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
